{
    "draw": {{ draw }}, 
    "recordsTotal": "{{ filtered_count }}",
    "recordsFiltered": "{{ total_count }}",
    "data": [
        {% for item in pagination %}
            {   
                "id" : "<div data-id='{{item.id}}'>{{item.id}}</div>",
                "firstName" : "{{item.firstName}}",
                "lastName" : "{{item.lastName}}",
                "email" : "{{item.email}}",
                "job" : "{{item.job.name}}",
                "createdAt" : "{{item.createdAt|date('d/m/Y')}}",
                "redirectUrl": "{{path('app_head_service_user_edit', {user:item.id}) }}"
            }
            {% if pagination|length != loop.index %},{% endif %}
        {% endfor %}
    ]
}