{% extends 'head_service/base.html.twig' %}

{% block title %}Création d'un agent{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title-box">
                        <h4>Création d'un agent</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="{{path('app_head_service_user')}}">Agents</a></li>
                                <li class="breadcrumb-item active"> {% if(form.vars.value.id) == null %}Ajouter {% else %}
                                    Modifier {% endif %}</li>
                            </ol>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {{form_start(form)}}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3 row"> 
                                {{form_label(form.email)}}
                                <div class="col-md-10">{{form_widget(form.email)}}</div>  
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.firstName)}}
                                <div class="col-md-10">{{form_widget(form.firstName)}}</div>
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.lastName)}}
                                <div class="col-md-10">{{form_widget(form.lastName)}}</div>
                            </div>

                            <div class="mb-3 row">
                                {{form_label(form.job)}}
                                <div class="col-md-10">{{form_widget(form.job)}}</div>
                            </div>

                            <div class="mb-3 row justify-content-end">
                                <div>
                                
                                {{form_widget(form.submit)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{form_end(form)}}
            <!-- end row -->


        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
{% endblock %}
