
{% extends 'head_service/base.html.twig' %}

{% block title %}Create establishment{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title-box">
                        <h4>{% if(form.vars.value.id) == null %}{% trans %}Create establishment{% endtrans %} {% else %}
                            {% trans %}Edit establishment{% endtrans %}{% endif %}</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="{{path('app_head_service_establishment')}}">{% trans %}Establishments{% endtrans %}</a></li>
                                <li class="breadcrumb-item active"> {% if(form.vars.value.id) == null %}{% trans %}Add{% endtrans %} {% else %}
                                    {% trans %}Edit{% endtrans %} {% endif %}</li>
                            </ol>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {{form_start(form)}}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3 row"> 
                                {{form_label(form.name)}}
                                <div class="col-md-10">{{form_widget(form.name)}}</div>  
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.address1)}}
                                <div class="col-md-10">{{form_widget(form.address1)}}</div>
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.address2)}}
                                <div class="col-md-10">{{form_widget(form.address2)}}</div>
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.zipCode)}}
                                <div class="col-md-10">{{form_widget(form.zipCode)}}</div>
                            </div>

                            <div class="mb-3 row">
                                {{form_label(form.city)}}
                                <div class="col-md-10">{{form_widget(form.city)}}</div>
                            </div>

                            <div class="mb-3 row justify-content-end">
                                <div>
                                
                                {{form_widget(form.submit)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{form_end(form)}}
            <!-- end row -->


        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
{% endblock %}