{% extends 'head_service/base.html.twig' %}

{% block title %} {% trans %}Establishments{% endtrans %} {% endblock %}

{% block body %}
    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title-box">
                        <h4>{% trans %}Establishments{% endtrans %} </h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">{% trans %}Establishments{% endtrans %}</li>
                            </ol>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-between mb-3 pe-2">
                                <h4 class="card-title col-4"> {% trans %}List of establishments{% endtrans %} </h4>
                                <a href="{{path('app_head_service_establishment_add')}}" type="button" class="btn btn-success waves-effect waves-light col-4 w-auto"><i class="fa-solid fa-plus"></i>&nbsp;{% trans %}Add establishment{% endtrans %} </a>
                            </div>
                            <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                                <table id="datatable" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline clickable">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th> {% trans %}Name{% endtrans %}</th>
                                            <th>{% trans %}Address{% endtrans %}</th>
                                            <th>{% trans %}Created at{% endtrans %}</th>
                                            <th>redirectUrl</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->


        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
{% block javascripts_footer %}
    <script>
        $(document).ready(function() {
            

            $('#datatable').dataTable(
                {
                    ajax: {
                        
                        url: "{{path('app_head_service_all_establishments')}}",
                        
                    },
                    columns: [
                        { data: 'id',name: 'id'},
                        { data: 'name', name: 'name'},
                        { data: 'address', name: 'address'},
                        { data: 'createdAt', name: 'createdAt'},
                        { data: 'redirectUrl', name: 'redirectUrl'},
                        
                    ],
                    columnDefs: [
                        {
                            target: 4,
                            visible: false,
                        }
                    ],
                    ordering: true, // Activer le tri
                    serverSide: true,
                    rowCallback: function (row, data) {
                        row.addEventListener('click', ()=> {
                            window.location.href = data.redirectUrl;
                        })
                    }
                }
            );
        })
    </script>
{% endblock %}
{% endblock %}
