{
    "events": [
        
        {% for event in data %}
            {   
                "id" : {{event.id}},
                "title" : "{{event.task.name}}",
                "start": "{{event.startedAt|date('Y-m-d\\TH:i:s')}}",
                "end": "{{event.endedAt|date('Y-m-d\\TH:i:s')}}"
            }
            {% if data|length != loop.index %},{% endif %}
        {% endfor %}
    ]
}