{
    "results": [
        
        {% for user in data %}
            {   
                "id" : {{user.id}},
                "text" : "{{user.firstName}} {{user.lastName}}",
                "url": "{{path('app_head_service_time_slot_list_plannings_ajax', {user: user.id})}}"
            }
            {% if data|length != loop.index %},{% endif %}
        {% endfor %}
    ]
}