{
    "results": [
        
        {% for item in data %}
            {   
                "id" : {{item['planning'].id}},
                "text" : "{{item['planning'].name}}",
                "url" : "{{item['url']}}"
            }
            {% if data|length != loop.index %},{% endif %}
        {% endfor %}
    ]
}