[
    {% for event in events %}
    {
        "id": {{event.id}},
        "title": "{{event.task.name}}",
        "daysOfWeek": "{{event.day}}",
        "startTime": "{{event.startedAt|date('H:i:s')}}",
        "endTime": "{{event.endedAt|date('H:i:s')}}",
        "extendedProps": {
            "eventDescription": "{{ event.description }}",
            "eventPlace": "{{event.establishment.name}}"
        },
        "color": "{{event.task.color}}"
    }
    {% if events|length != loop.index %},{% endif %}
    {% endfor %}
]