
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalEditFCLabel">Editer une tâche</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ form_start(form)}}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3 row"> 
                                {{form_label(form.startedAt)}}
                                <div class="col-md-10">{{form_widget(form.startedAt)}}</div>  
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.endedAt)}}
                                <div class="col-md-10">{{form_widget(form.endedAt)}}</div>
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.establishment)}}
                                <div class="col-md-10">{{form_widget(form.establishment)}}</div>
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.task)}}
                                <div class="col-md-10">{{form_widget(form.task)}}</div>
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.type)}}
                                <div class="col-md-10">{{form_widget(form.type)}}</div>
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.description)}}
                                <div class="col-md-10">{{form_widget(form.description)}}</div>
                            </div>
                            {{form_widget(form.day)}}
                            {{ form_row(form._token) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> {% trans %}Close{% endtrans %}</button>
            <button id="planned_task_delete" type="button" class="btn btn-danger" data-bs-dismiss="modal"> {% trans %}Delete{% endtrans %}</button>
            {{form_widget(form.edit)}}
        </div>
        {{form_end(form)}}
    </div>
