// FONTS
@font-face{
    font-family : 'Comfortaa';
    src : url('/assets/styles/fonts/Comfortaa-Regular.ttf') format('truetype');
}

html {
    position: relative;
    min-height: 100%;
}

body{
    .btn{
        box-shadow: 0 .5rem 1rem rgba($black, .15);
    }
    .btn-primary{
        color: white!important;
    }

    .btn .badge {
        position: relative;
        top: -17px;
        left: -12px;
    }
}
#page-topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    background-color: var(--bs-header-bg);
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02)
}

.navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    padding: 0 calc(1.5rem / 2) 0 0
}

.navbar-brand-box {
    padding: 0 1.5rem;
    text-align: center;
    width: 240px
}

.logo {
    line-height: 70px
}

.logo .logo-sm {
    display: none
}

.logo-light {
    display: none
}

.dropdown-topbar .btn-light {
    background-color: var(--bs-dropdown-topbar)!important;
    border: var(--bs-dropdown-topbar)!important
}

.dropdown-topbar .btn-light:focus {
    -webkit-box-shadow: 0 0 0 .15rem rgba(216,217,219,.5)!important;
    box-shadow: 0 0 0 .15rem rgba(216,217,219,.5)!important
}

.fullscreen-enable [data-toggle=fullscreen] .mdi-fullscreen::before {
    content: "\f0294"
}

@media (max-width: 992px) {
    .navbar-brand-box {
        width:auto
    }

    .logo span.logo-lg {
        display: none
    }

    .logo span.logo-sm {
        display: inline-block
    }
}

.page-content {
    padding: calc(70px + 1.5rem) calc(1.5rem / 2) 60px calc(1.5rem / 2)
}

.header-item {
    height: 70px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    color: var(--bs-header-item-color);
    border: 0;
    border-radius: 0
}

.header-item:hover {
    color: var(--bs-header-item-color)
}

.header-profile-user {
    height: 36px;
    width: 36px;
    background-color: var(--bs-tertiary-bg)
}

.noti-icon i {
    font-size: 22px;
    color: var(--bs-header-item-color)
}

.noti-icon .badge {
    position: absolute;
    top: 12px;
    right: 4px
}

.notification-item .d-flex {
    padding: .75rem 1rem
}

.notification-item .d-flex:hover {
    background-color: var(--bs-tertiary-bg)
}

.dropdown-icon-item {
    display: block;
    border-radius: 3px;
    line-height: 34px;
    text-align: center;
    padding: 15px 0 9px;
    display: block;
    border: 1px solid transparent;
    color: #6c757d
}

.dropdown-icon-item img {
    height: 24px
}

.dropdown-icon-item span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.dropdown-icon-item:hover {
    border-color: var(--bs-border-color)
}

body[data-topbar=dark] #page-topbar {
    background-color: var(--bs-header-dark-bg)
}

body[data-topbar=dark] .navbar-header .dropdown.show .header-item {
    background-color: rgba(255,255,255,.05)
}

body[data-topbar=dark] .navbar-header .waves-effect .waves-ripple {
    background: rgba(255,255,255,.4)
}

body[data-topbar=dark] .header-item {
    color: var(--bs-header-dark-item-color)
}

body[data-topbar=dark] .header-item:hover {
    color: var(--bs-header-dark-item-color)
}

body[data-topbar=dark] .header-profile-user {
    background-color: rgba(255,255,255,.25)
}

body[data-topbar=dark] .noti-icon i {
    color: var(--bs-header-dark-item-color)
}

body[data-topbar=dark] .logo-dark {
    display: none
}

body[data-topbar=dark] .logo-light {
    display: block
}

body[data-topbar=dark] .app-search .form-control {
    background-color: rgba(248,249,250,.07);
    color: #fff
}

body[data-topbar=dark] .app-search input.form-control::-webkit-input-placeholder,body[data-topbar=dark] .app-search span {
    color: rgba(255,255,255,.5)
}

body[data-sidebar=dark] .navbar-brand-box {
    background: var(--bs-sidebar-dark-bg)
}

body[data-sidebar=dark] .logo-dark {
    display: none
}

body[data-sidebar=dark] .logo-light {
    display: block
}

@media (max-width: 575.98px) {
    .navbar-header .dropdown {
        position:static
    }

    .navbar-header .dropdown .dropdown-menu {
        left: 10px!important;
        right: 10px!important
    }

    .top-navigation {
        position: absolute;
        left: 0;
        right: 0;
        background-color: var(--bs-header-dark-bg)
    }
}

@media (max-width: 380px) {
    .navbar-brand-box {
        display:none!important
    }
}

body[data-layout=horizontal] .navbar-header {
    padding: 0
}

body[data-layout=horizontal] .navbar-brand-box {
    width: auto;
    display: inline-block
}

body[data-layout=horizontal] .page-content {
    margin-top: 70px;
    padding: calc(180px + 1.5rem) calc(1.5rem / 2) 60px calc(1.5rem / 2)
}

@media (max-width: 992px) {
    body[data-layout=horizontal] .page-content {
        padding:calc(98px + 1.5rem) calc(1.5rem / 2) 60px calc(1.5rem / 2)
    }
}

@media (min-width: 992px) {
    body[data-layout=horizontal] .navbar-header {
        padding:0 calc(1.5rem / 2)
    }

    body[data-layout=horizontal] .navbar-brand-box {
        padding-left: 0
    }
}

.page-title-box {
    padding-bottom: 1.5rem
}

.page-title-box .breadcrumb {
    background-color: transparent;
    padding: 0
}

.page-title-box h4 {
    font-size: 18px!important
}

body[data-layout=horizontal] .top-navigation {
    padding: 0 12px 0 12px
}

body[data-layout=horizontal] .state-information .state-graph .info {
    color: #adb5bd
}

body[data-layout=horizontal] .page-title-content {
    padding: 20px 0
}

body[data-layout=horizontal] .page-title-content .page-title-box {
    padding-bottom: 0
}

body[data-layout=horizontal] .page-title-content .page-title-box .breadcrumb-item>a {
    color: #ced4da
}

body[data-layout=horizontal] .page-title-content .page-title-box .breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255,255,255,.5)
}

body[data-layout=horizontal] .page-title-content .page-title-box .breadcrumb-item.active {
    color: #adb5bd
}

body[data-layout=horizontal] .page-title-content h4 {
    color: #fff
}

.footer {
    background-color: var(--bs-footer-bg);
    bottom: 0;
    padding: 20px calc(1.5rem / 2);
    position: absolute;
    text-align: center;
    right: 0;
    color: var(--bs-footer-color);
    left: 240px;
    height: 60px;
    -webkit-box-shadow: 0 -1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,.05)
}

@media (max-width: 992px) {
    .footer {
        left:0
    }
}

.vertical-collpsed .footer {
    left: 70px
}

body[data-layout=horizontal] .footer {
    left: 0!important
}

.right-bar {
    background-color: var(--bs-secondary-bg);
    -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,.06),0 1px 0 0 rgba(0,0,0,.02);
    box-shadow: 0 0 24px 0 rgba(0,0,0,.06),0 1px 0 0 rgba(0,0,0,.02);
    display: block;
    position: fixed;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 280px;
    z-index: 9999;
    float: right!important;
    right: -290px;
    top: 0;
    bottom: 0
}

.right-bar .right-bar-toggle {
    background-color: #384158;
    height: 24px;
    width: 24px;
    line-height: 24px;
    color: #e9ecef;
    text-align: center;
    border-radius: 50%
}

.right-bar .right-bar-toggle:hover {
    background-color: #3e4861
}

.rightbar-overlay {
    background-color: rgba(42,49,66,.55);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 9998;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.right-bar-enabled .right-bar {
    right: 0
}

.right-bar-enabled .rightbar-overlay {
    display: block
}

@media (max-width: 767.98px) {
    .right-bar {
        overflow:auto
    }

    .right-bar .slimscroll-menu {
        height: auto!important
    }
}



.vertical-menu {
    width: 240px;
    z-index: 1001;
    background: var(--bs-sidebar-bg);
    bottom: 0;
    margin-top: 0;
    position: fixed;
    top: 70px;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02)
}

.main-content {
    margin-left: 240px;
    overflow: hidden
}

.main-content .content {
    padding: 0 15px 10px 15px;
    margin-top: 70px
}

#sidebar-menu {
    padding: 10px 0 30px 0
}

#sidebar-menu .mm-active>.has-arrow:after {
    content: "\f0140"
}

#sidebar-menu .has-arrow:after {
    content: "\f0142";
    font-family: "Material Design Icons";
    display: block;
    float: right;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s;
    font-size: 1rem
}

#sidebar-menu ul li a {
    display: block;
    padding: 11PX 20PX;
    color: var(--bs-sidebar-menu-item-color);
    position: relative;
    font-size: 13.3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    text-decoration: none;
}

#sidebar-menu ul li a i {
    display: inline-block;
    min-width: 1.6rem;
    padding-bottom: .125em;
    font-size: 1rem;
    line-height: 1.40625rem;
    vertical-align: middle;
    color: var(--bs-sidebar-menu-item-icon-color);
    -webkit-transition: all .4s;
    transition: all .4s
}

#sidebar-menu ul li a:hover {
    color: var(--bs-sidebar-menu-item-hover-color)
}

#sidebar-menu ul li a:hover i {
    color: var(--bs-sidebar-menu-item-hover-color)
}

#sidebar-menu ul li .badge {
    margin-top: 5px
}

#sidebar-menu ul li ul.dropdown-menu {
    padding: 0
}

#sidebar-menu ul li ul.dropdown-menu li a {
    padding: .4rem 1.5rem .4rem 3.1rem;
    font-size: 13px;
    color: var(--bs- var(--bs-sidebar-menu-sub-item-color));
    background-color: transparent
}

#sidebar-menu ul li ul.dropdown-menu li ul.dropdown-menu {
    padding: 0
}

#sidebar-menu ul li ul.dropdown-menu li ul.dropdown-menu li a {
    padding: .4rem 1.5rem .4rem 4.5rem;
    font-size: 13.5px
}

.menu-title {
    padding: 12px 20px!important;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--bs-sidebar-menu-item-icon-color);
    font-weight: 600
}



@media (max-width: 992px) {
    .vertical-menu {
        display:none
    }

    .main-content {
        margin-left: 0!important
    }

    body.sidebar-enable .vertical-menu {
        display: block
    }
}

.vertical-collpsed .main-content {
    margin-left: 70px
}

.vertical-collpsed .navbar-brand-box {
    width: 70px!important
}

.vertical-collpsed .logo span.logo-lg {
    display: none
}

.vertical-collpsed .logo span.logo-sm {
    display: block
}

.vertical-collpsed .vertical-menu {
    position: absolute;
    width: 70px!important;
    z-index: 5
}

.vertical-collpsed .vertical-menu .simplebar-content-wrapper,.vertical-collpsed .vertical-menu .simplebar-mask {
    overflow: visible!important
}

.vertical-collpsed .vertical-menu .simplebar-scrollbar {
    display: none!important
}

.vertical-collpsed .vertical-menu .simplebar-offset {
    bottom: 0!important
}

.vertical-collpsed .vertical-menu #sidebar-menu .badge,.vertical-collpsed .vertical-menu #sidebar-menu .collapse.in,.vertical-collpsed .vertical-menu #sidebar-menu .menu-title {
    display: none!important
}

.vertical-collpsed .vertical-menu #sidebar-menu .nav.collapse {
    height: inherit!important
}

.vertical-collpsed .vertical-menu #sidebar-menu .has-arrow:after {
    display: none
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li {
    position: relative;
    white-space: nowrap
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a {
    padding: 15px 20px;
    min-height: 55px;
    -webkit-transition: none;
    transition: none
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a:active,.vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a:focus,.vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a:hover {
    color: var(--bs-sidebar-menu-item-hover-color)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a i {
    font-size: 1.45rem;
    margin-left: 4px
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a span {
    display: none;
    padding-left: 25px
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a {
    position: relative;
    width: calc(190px + 70px);
    color: var(--bs-primary);
    background-color: var(--bs-sidebar-menu-item-active-bg);
    -webkit-transition: none;
    transition: none
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a i {
    color: var(--bs-primary)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a span {
    display: inline
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul {
    display: block;
    left: 70px;
    position: absolute;
    width: 190px;
    height: auto!important;
    -webkit-box-shadow: 3px 5px 10px 0 rgba(54,61,71,.1);
    box-shadow: 3px 5px 10px 0 rgba(54,61,71,.1)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul ul {
    -webkit-box-shadow: 3px 5px 10px 0 rgba(54,61,71,.1);
    box-shadow: 3px 5px 10px 0 rgba(54,61,71,.1)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul a {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px 20px;
    position: relative;
    width: 190px;
    z-index: 6;
    color: var(--bs-sidebar-menu-sub-item-color)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul a:hover {
    color: var(--bs-sidebar-menu-item-hover-color)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul ul {
    padding: 5px 0;
    z-index: 9999;
    display: none;
    background-color: var(--bs-sidebar-bg)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul ul li:hover>ul {
    display: block;
    left: 190px;
    height: auto!important;
    margin-top: -36px;
    position: absolute;
    width: 190px
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul ul li>a span.pull-right {
    position: absolute;
    right: 20px;
    top: 12px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul ul li.active a {
    color: #f8f9fa
}

body[data-sidebar=dark] .vertical-menu {
    background: var(--bs-sidebar-dark-bg)
}

body[data-sidebar=dark] #sidebar-menu ul li a {
    color: var(--bs-sidebar-dark-menu-item-color)
}

body[data-sidebar=dark] #sidebar-menu ul li a i {
    color: var(--bs-sidebar-dark-menu-item-color)
}

body[data-sidebar=dark] #sidebar-menu ul li a:hover {
    color: var(--bs-sidebar-dark-menu-item-hover-color)
}

body[data-sidebar=dark] #sidebar-menu ul li a:hover i {
    color: var(--bs-sidebar-dark-menu-item-hover-color)
}

body[data-sidebar=dark] #sidebar-menu ul li ul.dropdown-menu li a {
    color: var(--bs-sidebar-dark-menu-sub-item-color);
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

body[data-sidebar=dark] #sidebar-menu ul li ul.dropdown-menu li a:hover {
    color: var(--bs-sidebar-dark-menu-item-hover-color)
}

body[data-sidebar=dark] #sidebar-menu ul>li>a.mm-active {
    background-color: var(--bs-sidebar-dark-menu-item-active-bg)
}

body[data-sidebar=dark].vertical-collpsed {
    min-height: 1200px
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a {
    background: var(--bs-sidebar-dark-menu-item-active-bg);
    color: var(--bs-sidebar-dark-menu-item-hover-color)
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a i {
    color: var(--bs-sidebar-dark-menu-item-hover-color)
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul a {
    color: var(--bs-sidebar-dark-menu-sub-item-color)
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul a:hover {
    color: var(--bs-sidebar-dark-menu-item-hover-color)
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu>ul ul {
    background-color: var(--bs-sidebar-dark-bg)
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active {
    color: var(--bs-sidebar-dark-menu-item-active-color)!important
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active i {
    color: var(--bs-sidebar-dark-menu-item-active-color)!important
}

body[data-sidebar=dark] .mm-active {
    color: var(--bs-sidebar-dark-menu-item-active-color)!important
}

body[data-sidebar=dark] .mm-active>a {
    color: var(--bs-sidebar-dark-menu-item-active-color)!important;
    background-color: var(--bs-sidebar-dark-menu-item-active-bg)
}

body[data-sidebar=dark] .mm-active>a i {
    color: var(--bs-sidebar-dark-menu-item-active-color)!important
}

body[data-sidebar=dark] .mm-active>i {
    color: var(--bs-sidebar-dark-menu-item-active-color)!important
}

body[data-sidebar=dark] .mm-active .active {
    color: var(--bs-sidebar-dark-menu-item-active-color)!important;
    background-color: var(--bs-sidebar-dark-menu-item-active-bg)
}

body[data-sidebar=dark] .mm-active .active i {
    color: var(--bs-sidebar-dark-menu-item-active-color)!important
}

body[data-sidebar=dark] .menu-title {
    color: var(--bs-sidebar-dark-menu-item-icon-color)
}

body[data-layout=horizontal] .main-content {
    margin-left: 0!important
}

body[data-sidebar-size=small] .navbar-brand-box {
    width: 160px
}

body[data-sidebar-size=small] .vertical-menu {
    width: 160px;
    text-align: center
}

body[data-sidebar-size=small] .vertical-menu .badge,body[data-sidebar-size=small] .vertical-menu .has-arrow:after {
    display: none!important
}

body[data-sidebar-size=small] .main-content {
    margin-left: 160px
}

body[data-sidebar-size=small] .footer {
    left: 160px
}

body[data-sidebar-size=small] #sidebar-menu ul li a i {
    display: block
}

body[data-sidebar-size=small] #sidebar-menu ul li ul.dropdown-menu li a {
    padding-left: 1.5rem
}

body[data-sidebar-size=small] #sidebar-menu ul li ul.dropdown-menu li ul.dropdown-menu li a {
    padding-left: 1.5rem
}

body[data-sidebar-size=small].vertical-collpsed .main-content {
    margin-left: 70px
}

body[data-sidebar-size=small].vertical-collpsed .vertical-menu #sidebar-menu {
    text-align: left
}

body[data-sidebar-size=small].vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a i {
    display: inline-block
}

body[data-sidebar-size=small].vertical-collpsed .footer {
    left: 70px
}

body[data-sidebar=colored] .vertical-menu {
    background-color: var(--bs-primary)
}

body[data-sidebar=colored] .navbar-brand-box {
    background-color: var(--bs-primary)
}

body[data-sidebar=colored] .navbar-brand-box .logo-dark {
    display: none
}

body[data-sidebar=colored] .navbar-brand-box .logo-light {
    display: block
}

body[data-sidebar=colored] .mm-active {
    color: #fff!important
}

body[data-sidebar=colored] .mm-active>a {
    color: #fff!important;
    background-color: #8076c1
}

body[data-sidebar=colored] .mm-active>a i {
    color: #fff!important
}

body[data-sidebar=colored] .mm-active .active,body[data-sidebar=colored] .mm-active>i {
    color: #fff!important
}

body[data-sidebar=colored] #sidebar-menu ul li.menu-title {
    color: rgba(255,255,255,.6)
}

body[data-sidebar=colored] #sidebar-menu ul li a {
    color: rgba(255,255,255,.6)
}

body[data-sidebar=colored] #sidebar-menu ul li a i {
    color: rgba(255,255,255,.6)
}

body[data-sidebar=colored] #sidebar-menu ul li a.waves-effect .waves-ripple {
    background: rgba(255,255,255,.1)
}

body[data-sidebar=colored] #sidebar-menu ul li a:hover {
    color: #fff
}

body[data-sidebar=colored] #sidebar-menu ul li a:hover i {
    color: #fff
}

body[data-sidebar=colored] #sidebar-menu ul li ul.dropdown-menu li a {
    color: rgba(255,255,255,.5)
}

body[data-sidebar=colored] #sidebar-menu ul li ul.dropdown-menu li a:hover {
    color: #fff
}

body[data-sidebar=colored].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a {
    background-color: #8076c1;
    color: #fff
}

body[data-sidebar=colored].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a i {
    color: #fff
}

body[data-sidebar=colored].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active {
    color: var(--bs-sidebar-menu-item-active-color)!important
}

body[data-sidebar=colored].vertical-collpsed .vertical-menu #sidebar-menu ul li ul.dropdown-menu li a:hover {
    color: var(--bs-sidebar-menu-item-active-color)
}

body[data-sidebar=colored].vertical-collpsed .vertical-menu #sidebar-menu ul li ul.dropdown-menu li.mm-active {
    color: var(--bs-sidebar-menu-item-active-color)!important
}

body[data-sidebar=colored].vertical-collpsed .vertical-menu #sidebar-menu ul li ul.dropdown-menu li.mm-active>a {
    color: var(--bs-sidebar-menu-item-active-color)!important
}

body[data-sidebar=colored].vertical-collpsed .vertical-menu #sidebar-menu ul li ul.dropdown-menu li.mm-active>a i {
    color: var(--bs-sidebar-menu-item-active-color)!important
}

[dir=rtl] #sidebar-menu .has-arrow:after {
    content: "\f0141"
}

[dir=rtl] #sidebar-menu .mm-active>.has-arrow:after {
    content: "\f0140"
}

.topnav {
    background: var(--bs-topnav-bg);
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02);
    z-index: 100;
    margin-bottom: -40px;
    border-radius: 3px
}

.topnav .topnav-menu {
    margin: 0;
    padding: 0
}

.topnav .navbar-nav .nav-link {
    font-size: 14px;
    position: relative;
    padding: 1.2rem 1.5rem;
    color: var(--bs-sidebar-menu-item-color)
}

.topnav .navbar-nav .nav-link i {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    text-align: center
}

.topnav .navbar-nav .nav-link:focus,.topnav .navbar-nav .nav-link:hover {
    color: var(--bs-sidebar-menu-item-active-color);
    background-color: transparent
}

.topnav .navbar-nav .dropdown-item {
    color: var(--bs-sidebar-menu-item-color)
}

.topnav .navbar-nav .dropdown-item.active,.topnav .navbar-nav .dropdown-item:hover {
    color: var(--bs-sidebar-menu-item-active-color);
    background: 0 0
}

.topnav .navbar-nav .nav-item .nav-link.active {
    color: var(--bs-sidebar-menu-item-active-color)
}

.topnav .navbar-nav .dropdown.active>a {
    color: var(--bs-sidebar-menu-item-active-color);
    background-color: transparent
}

body[data-layout=horizontal] #page-topbar {
    background-color: var(--bs-header-dark-bg)
}

body[data-layout=horizontal] .navbar-header {
    background-color: var(--bs-header-bg)
}

@media (min-width: 1200px) {
    body[data-layout=horizontal] .container-fluid {
        max-width:90%
    }
}

@media (min-width: 992px) {
    .topnav .dropdown-item {
        padding:.5rem 1.5rem;
        min-width: 180px
    }

    .topnav .dropdown.mega-dropdown .mega-dropdown-menu {
        left: 0;
        right: auto
    }

    .topnav .dropdown .dropdown-menu {
        margin-top: 0;
        border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius)
    }

    .topnav .dropdown .dropdown-menu .arrow-down::after {
        right: 15px;
        -webkit-transform: rotate(-135deg) translateY(-50%);
        transform: rotate(-135deg) translateY(-50%);
        position: absolute
    }

    .topnav .dropdown .dropdown-menu .dropdown .dropdown-menu {
        position: absolute;
        top: 0!important;
        left: 100%;
        display: none
    }

    .topnav .dropdown:hover>.dropdown-menu {
        display: block
    }

    .topnav .dropdown:hover>.dropdown-menu>.dropdown:hover>.dropdown-menu {
        display: block
    }

    .navbar-toggle {
        display: none
    }
}

.arrow-down {
    display: inline-block
}

.arrow-down:after {
    border-color: initial;
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    height: .4em;
    display: inline-block;
    right: 5px;
    top: 50%;
    margin-left: 10px;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: .4em
}

@media (max-width: 1199.98px) {
    .topnav-menu .navbar-nav li:last-of-type .dropdown .dropdown-menu {
        right:100%;
        left: auto
    }
}

@media (max-width: 991.98px) {
    .topnav {
        max-height:360px;
        overflow-y: auto;
        padding: 0;
        margin-bottom: 0;
        position: fixed;
        left: 0;
        right: 0;
        top: 70px
    }

    .topnav .navbar-nav .nav-link {
        padding: .75rem 1.1rem
    }

    .topnav .navbar-nav .nav-link i {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0;
        vertical-align: inherit
    }

    .topnav .dropdown .dropdown-menu {
        background-color: transparent;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-left: 15px
    }

    .topnav .dropdown .dropdown-menu.dropdown-mega-menu-lg,.topnav .dropdown .dropdown-menu.dropdown-mega-menu-xl {
        width: auto
    }

    .topnav .dropdown .dropdown-menu.dropdown-mega-menu-lg .row,.topnav .dropdown .dropdown-menu.dropdown-mega-menu-xl .row {
        margin: 0
    }

    .topnav .dropdown .dropdown-item {
        position: relative;
        background-color: transparent
    }

    .topnav .dropdown .dropdown-item.active,.topnav .dropdown .dropdown-item:active {
        color: var(--bs-primary)
    }

    .topnav .arrow-down::after {
        right: 15px;
        position: absolute
    }
}

body[data-layout=horizontal][data-topbar=colored] #page-topbar {
    background-color: var(--bs-primary);
    -webkit-box-shadow: none;
    box-shadow: none
}

body[data-layout=horizontal][data-topbar=colored] .logo-dark {
    display: none
}

body[data-layout=horizontal][data-topbar=colored] .logo-light {
    display: block
}

body[data-layout=horizontal][data-topbar=colored] .app-search .form-control {
    background-color: rgba(248,249,250,.07);
    color: #fff
}

body[data-layout=horizontal][data-topbar=colored] .app-search input.form-control::-webkit-input-placeholder,body[data-layout=horizontal][data-topbar=colored] .app-search span {
    color: rgba(255,255,255,.5)
}

body[data-layout=horizontal][data-topbar=colored] .header-item {
    color: var(--bs-header-dark-item-color)
}

body[data-layout=horizontal][data-topbar=colored] .header-item:hover {
    color: var(--bs-header-dark-item-color)
}

body[data-layout=horizontal][data-topbar=colored] .navbar-header .dropdown.show .header-item {
    background-color: rgba(255,255,255,.1)
}

body[data-layout=horizontal][data-topbar=colored] .navbar-header .waves-effect .waves-ripple {
    background: rgba(255,255,255,.4)
}

body[data-layout=horizontal][data-topbar=colored] .noti-icon i {
    color: var(--bs-header-dark-item-color)
}

@media (min-width: 992px) {
    body[data-layout=horizontal][data-topbar=colored] .topnav {
        background-color:var(--bs-primary)
    }

    body[data-layout=horizontal][data-topbar=colored] .topnav .navbar-nav .nav-link {
        color: rgba(255,255,255,.5)
    }

    body[data-layout=horizontal][data-topbar=colored] .topnav .navbar-nav .nav-link:focus,body[data-layout=horizontal][data-topbar=colored] .topnav .navbar-nav .nav-link:hover {
        color: rgba(255,255,255,.9)
    }

    body[data-layout=horizontal][data-topbar=colored] .topnav .navbar-nav>.dropdown.active>a {
        color: rgba(255,255,255,.9)!important
    }
}

[data-bs-theme=dark] body[data-topbar=light][data-layout=horizontal] .navbar-brand-box .logo-dark {
    display: none
}

[data-bs-theme=dark] body[data-topbar=light][data-layout=horizontal] .navbar-brand-box .logo-light {
    display: block
}

body[data-layout=horizontal][data-topbar=light] .logo-light {
    display: none
}

body[data-layout=horizontal][data-topbar=light] .logo-dark {
    display: block
}

body[data-layout=horizontal][data-topbar=dark] .navbar-header {
    background-color: var(--bs-navbar-header-bg)
}

body[data-layout-size=boxed] {
    background-color: var(--bs-boxed-body-bg)
}

body[data-layout-size=boxed] #layout-wrapper {
    background-color: var(--bs-body-bg);
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02)
}

body[data-layout-size=boxed] #page-topbar {
    max-width: 1300px;
    margin: 0 auto
}

body[data-layout-size=boxed] .footer {
    margin: 0 auto;
    max-width: calc(1300px - 240px)
}

body[data-layout-size=boxed].vertical-collpsed .footer {
    max-width: calc(1300px - 70px)
}

body[data-layout=horizontal][data-layout-size=boxed] #layout-wrapper,body[data-layout=horizontal][data-layout-size=boxed] #page-topbar,body[data-layout=horizontal][data-layout-size=boxed] .footer {
    max-width: 100%
}

body[data-layout=horizontal][data-layout-size=boxed] .container-fluid {
    max-width: 1300px
}

:root,[data-bs-theme=light] {
    --bs-header-bg: #ffffff;
    --bs-header-item-color: var(--bs-header-item-color);
    --bs-header-item-sub-color: var(--bs-secondary-color);
    --bs-header-height: 70px;
    --bs-footer-height: 60px;
    --bs-footer-bg: #fafafa;
    --bs-footer-color: #5b626b;
    --bs-header-dark-bg: #143642;
    --bs-header-dark-item-color: #e9ecef;
    --bs-topbar-search-bg: #f8f9fa;
    --bs-dropdown-topbar: #f8f9fa;
    --bs-topnav-bg: #fff;
    --bs-topnav-item-color: #545b62;
    --bs-topnav-item-color-active: var(--bs-primary);
    --bs-header-item-color: #555b6d;
    --bs-navbar-header-bg: #2f3f50;
    --bs-boxed-body-bg: #e8e8e8;
    --bs-sidebar-bg: #ffffff;
    --bs-sidebar-menu-item-color: #79829c;
    --bs-sidebar-menu-sub-item-color: #79829c;
    --bs-sidebar-menu-item-icon-color: #7f8387;
    --bs-sidebar-menu-item-hover-color: #383c40;
    --bs-sidebar-menu-item-active-color: #7a6fbe;
    --bs-sidebar-menu-item-active-bg: #f5f5f5;
    --bs-sidebar-width: 240px;
    --bs-sidebar-collapsed-width: 70px;
    --bs-sidebar-width-sm: 160px
}

:root [data-topbar=light],[data-bs-theme=light] [data-topbar=light] {
    --bs-topbar-search-bg: #f1f5f7
}

:root [data-topbar=dark],[data-bs-theme=light] [data-topbar=dark] {
    --bs-header-bg: #2a3142;
    --bs-header-item-color: #f8f9fa;
    --bs-header-dark-item-color: #e9ecef
}

:root [data-sidebar=colored],[data-bs-theme=light] [data-sidebar=colored] {
    --bs-topbar-search-bg: #f1f5f7
}

:root [data-sidebar=light],[data-bs-theme=light] [data-sidebar=light] {
    --bs-sidebar-bg: #ffffff;
    --bs-sidebar-menu-item-color: #545a6d;
    --bs-sidebar-menu-sub-item-color: #545a6d;
    --bs-sidebar-menu-item-icon-color: #7f8387;
    --bs-sidebar-menu-item-hover-color: #383c40;
    --bs-sidebar-menu-item-active-color: #7a6fbe
}

:root [data-sidebar=dark],[data-bs-theme=light] [data-sidebar=dark] {
    --bs-sidebar-dark-bg: #143642;
    --bs-sidebar-dark-menu-item-color: #8699ad;
    --bs-sidebar-dark-menu-sub-item-color: #8699ad;
    --bs-sidebar-dark-menu-item-icon-color: #8699ad;
    --bs-sidebar-dark-menu-item-hover-color: #ffffff;
    --bs-sidebar-dark-menu-item-active-color: #ffffff;
    --bs-sidebar-dark-menu-item-active-bg: #112c36
}

[data-bs-theme=dark] {
    --bs-light: #3a445b;
    --bs-light-rgb: 58,68,91;
    --bs-dark: #3a445b;
    --bs-dark-rgb: 58,68,91;
    --bs-header-bg: #7a6fbe;
    --bs-header-dark-bg: #2a3142;
    --bs-header-item-color: #ffffffb3;
    --bs-topbar-search-bg: #ffffff1a;
    --bs-navbar-header-bg: #2e3648;
    --bs-dropdown-topbar: #ffffff1a;
    --bs-topnav-bg: #323a4e;
    --bs-footer-bg: #323a4e;
    --bs-footer-color: #dee2e6;
    --bs-boxed-body-bg: #2d3447;
    --bs-sidebar-bg: #ffffff;
    --bs-sidebar-menu-item-color: #79829c;
    --bs-sidebar-menu-sub-item-color: #79829c;
    --bs-sidebar-menu-item-icon-color: #79829c;
    --bs-sidebar-menu-item-hover-color: #7a6fbe;
    --bs-sidebar-menu-item-active-color: #7a6fbe;
    --bs-sidebar-menu-item-active-bg: #f5f5f5
}

[data-bs-theme=dark] .table-light {
    --bs-table-color: white;
    --bs-table-bg: var(--bs-tertiary-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-striped-bg: var(--bs-tertiary-bg);
    --bs-table-striped-color: white;
    --bs-table-active-bg: var(--bs-tertiary-bg);
    --bs-table-active-color: white;
    --bs-table-hover-bg: var(--bs-tertiary-bg);
    --bs-table-hover-color: white
}

[data-bs-theme=dark][data-topbar=light] {
    --bs-topbar-search-bg: #ffffff1a
}

[data-bs-theme=dark][data-sidebar=colored] {
    --bs-topbar-search-bg: #ffffff99
}

[data-bs-theme=dark] [data-sidebar=dark] {
    --bs-sidebar-dark-bg: #143642;
    --bs-sidebar-dark-menu-item-color: #8699ad;
    --bs-sidebar-dark-menu-sub-item-color: #8699ad;
    --bs-sidebar-dark-menu-item-icon-color: #8699ad;
    --bs-sidebar-dark-menu-item-hover-color: #ffffff;
    --bs-sidebar-dark-menu-item-active-color: #ffffff;
    --bs-sidebar-dark-menu-item-active-bg: #112c36
}

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0,0,0,.2);
    background: radial-gradient(rgba(0,0,0,.2) 0,rgba(0,0,0,.3) 40%,rgba(0,0,0,.4) 50%,rgba(0,0,0,.5) 60%,rgba(255,255,255,0) 70%);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    -webkit-transform: scale(0) translate(0,0);
    transform: scale(0) translate(0,0);
    pointer-events: none
}

.waves-effect.waves-light .waves-ripple {
    background: rgba(255,255,255,.4);
    background: radial-gradient(rgba(255,255,255,.2) 0,rgba(255,255,255,.3) 40%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.5) 60%,rgba(255,255,255,0) 70%)
}

.waves-effect.waves-classic .waves-ripple {
    background: rgba(0,0,0,.2)
}

.waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255,255,255,.4)
}

.waves-notransition {
    -webkit-transition: none!important;
    transition: none!important
}

.waves-button,.waves-circle {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle,#fff 100%,#000 100%)
}

.waves-button,.waves-button-input,.waves-button:hover,.waves-button:visited {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: 0;
    color: inherit;
    background-color: rgba(0,0,0,0);
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: 1
}

.waves-button {
    padding: .85em 1.1em;
    border-radius: .2em
}

.waves-button-input {
    margin: 0;
    padding: .85em 1.1em
}

.waves-input-wrapper {
    border-radius: .2em;
    vertical-align: bottom
}

.waves-input-wrapper.waves-button {
    padding: 0
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%
}

.waves-float {
    -webkit-mask-image: none;
    -webkit-box-shadow: 0 1px 1.5px 1px rgba(0,0,0,.12);
    box-shadow: 0 1px 1.5px 1px rgba(0,0,0,.12);
    -webkit-transition: all .3s;
    transition: all .3s
}

.waves-float:active {
    -webkit-box-shadow: 0 8px 20px 1px rgba(0,0,0,.3);
    box-shadow: 0 8px 20px 1px rgba(0,0,0,.3)
}

.waves-block {
    display: block
}

.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255,255,255,.4)
}

.waves-effect.waves-primary .waves-ripple {
    background-color: rgba(122,111,190,.4)
}

.waves-effect.waves-success .waves-ripple {
    background-color: rgba(88,219,131,.4)
}

.waves-effect.waves-info .waves-ripple {
    background-color: rgba(13,202,240,.4)
}

.waves-effect.waves-warning .waves-ripple {
    background-color: rgba(245,178,37,.4)
}

.waves-effect.waves-danger .waves-ripple {
    background-color: rgba(236,83,108,.4)
}

.alert-border {
    background-color: var(--bs-secondary-bg);
    border-color: var(--bs-border-color);
    border-top: 2px solid var(--bs-border-color)
}

.alert-border-primary {
    border-top-color: #7a6fbe
}

.alert-outline-primary {
    border: 1px solid #eceaf6;
    color: #7a6fbe
}

.alert-border-secondary {
    border-top-color: #6c757d
}

.alert-outline-secondary {
    border: 1px solid #caced1;
    color: #6c757d
}

.alert-border-success {
    border-top-color: #58db83
}

.alert-outline-success {
    border: 1px solid #ebfbf0;
    color: #58db83
}

.alert-border-info {
    border-top-color: #0dcaf0
}

.alert-outline-info {
    border: 1px solid #b5effb;
    color: #0dcaf0
}

.alert-border-warning {
    border-top-color: #f5b225
}

.alert-outline-warning {
    border: 1px solid #fdeed0;
    color: #f5b225
}

.alert-border-orange {
    border-top-color: #f1734f
}

.alert-outline-orange {
    border: 1px solid #fef7f4;
    color: #f1734f
}

.alert-border-danger {
    border-top-color: #ec536c
}

.alert-outline-danger {
    border: 1px solid #fef4f5;
    color: #ec536c
}

.alert-border-pink {
    border-top-color: #e83e8c
}

.alert-outline-pink {
    border: 1px solid #fbddeb;
    color: #e83e8c
}

.alert-border-light {
    border-top-color: #f8f9fa
}

.alert-outline-light {
    border: 1px solid #fff;
    color: #f8f9fa
}

.alert-border-dark {
    border-top-color: #2a3142
}

.alert-outline-dark {
    border: 1px solid #7685a8;
    color: #2a3142
}

.alert-border-purple {
    border-top-color: #6f42c1
}

.alert-outline-purple {
    border: 1px solid #d5c8ed;
    color: #6f42c1
}

.popover {
    -webkit-box-shadow: var(--bs-box-shadow);
    box-shadow: var(--bs-box-shadow)
}

.popover-body {
    color: var(--bs-body-color)!important
}

.font-size-11 {
    font-size: 11px!important
}

.font-size-12 {
    font-size: 12px!important
}

.font-size-13 {
    font-size: 13px!important
}

.font-size-14 {
    font-size: 14px!important
}

.font-size-15 {
    font-size: 15px!important
}

.font-size-16 {
    font-size: 16px!important
}

.font-size-17 {
    font-size: 17px!important
}

.font-size-18 {
    font-size: 18px!important
}

.font-size-20 {
    font-size: 20px!important
}

.font-size-22 {
    font-size: 22px!important
}

.font-size-24 {
    font-size: 24px!important
}

.font-weight-medium {
    font-weight: 500
}

.font-weight-semibold {
    font-weight: 600
}

.w-xs {
    min-width: 80px
}

.w-sm {
    min-width: 95px
}

.w-md {
    min-width: 110px
}

.w-lg {
    min-width: 140px
}

.w-xl {
    min-width: 160px
}

.alert-dismissible .btn-close {
    font-size: 10px;
    padding: 1.05rem 1.25rem
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bs-secondary-bg);
    z-index: 9999
}

#status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px
}

.spinner-chase {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-animation: spinner-chase 2.5s infinite linear both;
    animation: spinner-chase 2.5s infinite linear both
}



@-webkit-keyframes spinner-chase {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spinner-chase {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes chase-dot {
    100%,80% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes chase-dot {
    100%,80% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes chase-dot-before {
    50% {
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    0%,100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes chase-dot-before {
    50% {
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    0%,100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

[type=email]::-webkit-input-placeholder,[type=number]::-webkit-input-placeholder,[type=tel]::-webkit-input-placeholder,[type=url]::-webkit-input-placeholder {
    text-align: left
}

[type=email]::-moz-placeholder,[type=number]::-moz-placeholder,[type=tel]::-moz-placeholder,[type=url]::-moz-placeholder {
    text-align: left
}

[type=email]:-ms-input-placeholder,[type=number]:-ms-input-placeholder,[type=tel]:-ms-input-placeholder,[type=url]:-ms-input-placeholder {
    text-align: left
}

[type=email]::-ms-input-placeholder,[type=number]::-ms-input-placeholder,[type=tel]::-ms-input-placeholder,[type=url]::-ms-input-placeholder {
    text-align: left
}

[type=email]::placeholder,[type=number]::placeholder,[type=tel]::placeholder,[type=url]::placeholder {
    text-align: left
}

.form-check {
    position: relative;
    text-align: left
}

.form-check-right {
    padding-left: 0;
    display: inline-block;
    padding-right: 1.5em
}

.form-check-right .form-check-input {
    float: right;
    margin-left: 0;
    margin-right: -1.5em
}

.form-check-right .form-check-label {
    display: block
}

.form-checkbox-outline .form-check-input {
    border-width: 2px;
    background-color: var(--bs-secondary-bg)
}

.form-checkbox-outline .form-check-input:active {
    -webkit-filter: none;
    filter: none
}

.form-checkbox-outline .form-check-input:checked {
    background-color: var(--bs-secondary-bg)!important
}

.form-checkbox-outline .form-check-input:checked[type=checkbox] {
    background-image: none
}

.form-checkbox-outline .form-check-input:checked:after {
    position: absolute;
    content: "\f012c";
    font-family: "Material Design Icons";
    top: -4px!important;
    left: 1px;
    font-size: 16px;
    color: #2a3142
}

.form-radio-outline .form-check-input {
    border-width: 2px;
    background-color: var(--bs-secondary-bg)
}

.form-radio-outline .form-check-input:active {
    -webkit-filter: none;
    filter: none
}

.form-radio-outline .form-check-input:checked {
    background-color: var(--bs-secondary-bg)!important
}

.form-radio-outline .form-check-input:checked[type=checkbox] {
    background-image: none
}

.form-radio-outline .form-check-input:checked:after {
    position: absolute;
    content: "\f0765";
    font-family: "Material Design Icons";
    top: 6px!important;
    left: 4px;
    font-size: 6px
}

.form-check-primary .form-check-input:checked {
    background-color: #7a6fbe;
    border-color: #7a6fbe
}

.form-radio-primary .form-check-input:checked {
    border-color: #7a6fbe;
    background-color: #7a6fbe
}

.form-radio-primary .form-check-input:checked:after {
    color: #7a6fbe
}

.form-check-secondary .form-check-input:checked {
    background-color: #6c757d;
    border-color: #6c757d
}

.form-radio-secondary .form-check-input:checked {
    border-color: #6c757d;
    background-color: #6c757d
}

.form-radio-secondary .form-check-input:checked:after {
    color: #6c757d
}

.form-check-success .form-check-input:checked {
    background-color: #58db83;
    border-color: #58db83
}

.form-radio-success .form-check-input:checked {
    border-color: #58db83;
    background-color: #58db83
}

.form-radio-success .form-check-input:checked:after {
    color: #58db83
}

.form-check-info .form-check-input:checked {
    background-color: #0dcaf0;
    border-color: #0dcaf0
}

.form-radio-info .form-check-input:checked {
    border-color: #0dcaf0;
    background-color: #0dcaf0
}

.form-radio-info .form-check-input:checked:after {
    color: #0dcaf0
}

.form-check-warning .form-check-input:checked {
    background-color: #f5b225;
    border-color: #f5b225
}

.form-radio-warning .form-check-input:checked {
    border-color: #f5b225;
    background-color: #f5b225
}

.form-radio-warning .form-check-input:checked:after {
    color: #f5b225
}

.form-check-orange .form-check-input:checked {
    background-color: #f1734f;
    border-color: #f1734f
}

.form-radio-orange .form-check-input:checked {
    border-color: #f1734f;
    background-color: #f1734f
}

.form-radio-orange .form-check-input:checked:after {
    color: #f1734f
}

.form-check-danger .form-check-input:checked {
    background-color: #ec536c;
    border-color: #ec536c
}

.form-radio-danger .form-check-input:checked {
    border-color: #ec536c;
    background-color: #ec536c
}

.form-radio-danger .form-check-input:checked:after {
    color: #ec536c
}

.form-check-pink .form-check-input:checked {
    background-color: #e83e8c;
    border-color: #e83e8c
}

.form-radio-pink .form-check-input:checked {
    border-color: #e83e8c;
    background-color: #e83e8c
}

.form-radio-pink .form-check-input:checked:after {
    color: #e83e8c
}

.form-check-light .form-check-input:checked {
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.form-radio-light .form-check-input:checked {
    border-color: #f8f9fa;
    background-color: #f8f9fa
}

.form-radio-light .form-check-input:checked:after {
    color: #f8f9fa
}

.form-check-dark .form-check-input:checked {
    background-color: #2a3142;
    border-color: #2a3142
}

.form-radio-dark .form-check-input:checked {
    border-color: #2a3142;
    background-color: #2a3142
}

.form-radio-dark .form-check-input:checked:after {
    color: #2a3142
}

.form-check-purple .form-check-input:checked {
    background-color: #6f42c1;
    border-color: #6f42c1
}

.form-radio-purple .form-check-input:checked {
    border-color: #6f42c1;
    background-color: #6f42c1
}

.form-radio-purple .form-check-input:checked:after {
    color: #6f42c1
}

.form-check,.form-check-input,.form-check-label {
    cursor: pointer;
    margin-bottom: 0
}

.form-switch-md {
    padding-left: 2.5rem;
    min-height: 24px;
    line-height: 24px
}

.form-switch-md .form-check-input {
    width: 40px;
    height: 20px;
    left: -.5rem;
    position: relative
}

.form-switch-md .form-check-label {
    vertical-align: middle
}

.form-switch-lg {
    padding-left: 2.75rem;
    min-height: 28px;
    line-height: 28px
}

.form-switch-lg .form-check-input {
    width: 48px;
    height: 24px;
    left: -.75rem;
    position: relative
}

.input-group-text {
    margin-bottom: 0
}

.label-input-date{
    padding-top: 0.6em;
}

.button-items {
    margin-left: -8px;
    margin-bottom: -12px
}

.button-items .btn {
    margin-bottom: 12px;
    margin-left: 8px
}


@media print {
    .footer,.navbar-header,.page-title-box,.right-bar,.vertical-menu {
        display: none!important
    }

    .card-body,.main-content,.page-content,.right-bar,body {
        padding: 0;
        margin: 0
    }

    .card {
        border: 0
    }
}

[data-simplebar] {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}


.hs-dummy-scrollbar-size {
    direction: rtl;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    height: 500px;
    width: 500px;
    overflow-y: hidden;
    overflow-x: scroll
}

.custom-scroll {
    height: 100%
}

.fc-daygrid-day-top > a{
    text-decoration: none !important;
    color: $black;
}

.fc-scrollgrid-sync-inner > a {
    text-decoration: none !important;
    color: $black;
}

.fc-toolbar .btn.active {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary)
}

[dir=rtl] .fc-header-toolbar {
    direction: ltr
}

.fc-toolbar>*>:not(:first-child) {
    margin-left: .75em
}

.fc td,.fc th {
    border: var(--bs-border-width) solid var(--bs-border-color)
}

.fc .fc-toolbar h2 {
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase
}

@media (max-width: 767.98px) {
    .fc .fc-toolbar .fc-center,.fc .fc-toolbar .fc-left,.fc .fc-toolbar .fc-right {
        float:none;
        display: block;
        text-align: center;
        clear: both;
        margin: 10px 0
    }

    .fc .fc-toolbar>*>* {
        float: none
    }

    .fc .fc-toolbar .fc-today-button {
        display: none
    }
}

.fc .fc-toolbar .btn {
    text-transform: capitalize
}

.fc th.fc-widget-header {
    background: var(--bs-tertiary-bg);
    color: #3a445b;
    line-height: 20px;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 700
}

.fc-day-header {
    padding: 8px 0!important;
    background-color: var(--bs-tertiary-bg)
}

.fc-unthemed .fc-content,.fc-unthemed .fc-divider,.fc-unthemed .fc-list-heading td,.fc-unthemed .fc-list-view,.fc-unthemed .fc-popover,.fc-unthemed .fc-row,.fc-unthemed tbody,.fc-unthemed td,.fc-unthemed th,.fc-unthemed thead {
    border-color: var(--bs-border-color)
}

.fc-unthemed td.fc-today {
    background: var(--bs-tertiary-bg)
}

.fc-button {
    background: var(--bs-secondary-bg);
    border-color: var(--bs-border-color);
    color: #3a445b;
    text-transform: capitalize;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 6px 12px!important;
    height: auto!important
}

.fc-state-active,.fc-state-disabled,.fc-state-down {
    background-color: #7a6fbe;
    color: #fff;
    text-shadow: none
}

.fc-event {
    border-radius: 2px;
    border: none;
    cursor: move;
    font-size: .8125rem;
    margin: 5px 7px;
    padding: 7px!important;
    text-align: center
}

.fc-event,.fc-event-dot {
    background-color: #7a6fbe
}

.fc-event .fc-content {
    color: #fff
}

#external-events .external-event {
    text-align: left!important;
    padding: 4px
}

.fc-bootstrap .fc-today.alert-info {
    background-color: var(--bs-tertiary-bg)
}

.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bg-dark {
    background-color: #000!important
}

#session-timeout-dialog .close {
    display: none
}

#session-timeout-dialog .countdown-holder {
    color: #ec536c;
    font-weight: 500
}

#session-timeout-dialog .btn-default {
    background-color: #fff;
    color: #ec536c;
    -webkit-box-shadow: none;
    box-shadow: none
}

.irs--modern .irs-bar,.irs--modern .irs-from,.irs--modern .irs-single,.irs--modern .irs-to {
    background: var(--bs-primary)!important;
    font-size: 11px
}

.irs--modern .irs-from:before,.irs--modern .irs-single:before,.irs--modern .irs-to:before {
    border-top-color: var(--bs-primary)
}

.irs--modern .irs-line {
    background: var(--bs-tertiary-bg);
    border-color: var(--bs-border-color)
}

.irs--modern .irs-grid-text {
    font-size: 11px;
    color: #ced4da
}

.irs--modern .irs-max,.irs--modern .irs-min {
    color: #adb5bd;
    background: var(--bs-tertiary-bg);
    font-size: 11px
}

.irs--modern .irs-handle {
    width: 12px;
    height: 12px;
    top: 37px;
    background-color: var(--bs-tertiary-bg)!important
}

.irs--modern .irs-handle>i:nth-child(1) {
    width: 8px;
    height: 8px
}

.swal2-container .swal2-title {
    font-size: 20px;
    font-weight: 500
}

.swal2-content {
    font-size: 16px;
    color: var(--bs-body-color)!important
}

.swal2-modal {
    background-color: var(--bs-secondary-bg)!important;
    color: var(--bs-body-color)!important
}

.swal2-header {
    color: var(--bs-body-color)!important
}

.swal2-title {
    color: var(--bs-body-color)!important
}

.swal2-icon.swal2-question {
    border-color: #0dcaf0;
    color: #0dcaf0
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #58db83
}

.swal2-icon.swal2-success .swal2-success-ring {
    border-color: rgba(88,219,131,.3)
}

.swal2-icon.swal2-warning {
    border-color: #f5b225;
    color: #f5b225
}

.swal2-styled:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.swal2-progress-steps .swal2-progress-step {
    background: #7a6fbe
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
    background: #7a6fbe
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step,.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step-line {
    background: rgba(122,111,190,.3)
}

.swal2-progress-steps .swal2-progress-step-line {
    background: #7a6fbe
}

.swal2-loader {
    border-color: #7a6fbe transparent #7a6fbe transparent
}

.error {
    color: #ec536c
}

.parsley-error {
    border-color: #ec536c
}

.parsley-errors-list {
    display: none;
    margin: 0;
    padding: 0
}

.parsley-errors-list.filled {
    display: block
}

.parsley-errors-list>li {
    font-size: 12px;
    list-style: none;
    color: #ec536c;
    margin-top: 5px
}

[dir=rtl] .select2-results__options {
    direction: ltr
}

.select2-container .select2-selection--single {
    background-color: white;
    border: 1px solid var(--bs-border-color);
    height: 38px
}

.select2-container .select2-selection--single:focus {
    outline: 0
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px;
    color: var(--bs-body-color);
    float: left
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px
}

.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #adb5bd transparent transparent transparent;
    border-width: 6px 6px 0 6px
}

.select2-container .select2-selection--single .select2-selection__placeholder {
    color: #1f2431
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #adb5bd transparent!important;
    border-width: 0 6px 6px 6px!important
}

.select2-container--default .select2-search--dropdown {
    padding: 10px;
    background-color: white
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid var(--bs-border-color);
    background-color: white;
    color: #6c757d;
    outline: 0;
    text-align: left
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #7a6fbe
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: var(--bs-tertiary-bg);
    color: var(--bs-body-color)
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #7a6fbe;
    color: #fff
}

.select2-results__option {
    padding: 6px 12px
}

.select2-dropdown {
    border: 1px solid var(--bs---bs-border-color);
    background-color: var(--bs-secondary-bg);
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02)
}

.select2-search input {
    border: 1px solid #dee2e6
}

.select2-container .select2-selection--multiple {
    min-height: 38px;
    background-color: var(--bs-secondary-bg);
    border: 1px solid var(--bs-border-color)!important
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 10px
}

.select2-container .select2-selection--multiple .select2-selection__rendered li {
    float: left
}

.select2-container .select2-selection--multiple .select2-search__field {
    border: 0;
    color: var(--bs-body-color)
}

.select2-container .select2-selection--multiple .select2-search__field::-webkit-input-placeholder {
    color: var(--bs-body-color)
}

.select2-container .select2-selection--multiple .select2-search__field::-moz-placeholder {
    color: var(--bs-body-color)
}

.select2-container .select2-selection--multiple .select2-search__field:-ms-input-placeholder {
    color: var(--bs-body-color)
}

.select2-container .select2-selection--multiple .select2-search__field::-ms-input-placeholder {
    color: var(--bs-body-color)
}

.select2-container .select2-selection--multiple .select2-search__field::placeholder {
    color: var(--bs-body-color)
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    border-radius: 1px;
    padding: 0 7px
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #ced4da
}

.select2-container--default .select2-results__group {
    font-weight: 600
}

.select2-result-repository__avatar {
    float: left;
    width: 60px;
    margin-right: 10px
}

.select2-result-repository__avatar img {
    width: 100%;
    height: auto;
    border-radius: 2px
}

.select2-result-repository__statistics {
    margin-top: 7px
}

.select2-result-repository__forks,.select2-result-repository__stargazers,.select2-result-repository__watchers {
    display: inline-block;
    font-size: 11px;
    margin-right: 1em;
    color: #adb5bd
}

.select2-result-repository__forks .fa,.select2-result-repository__stargazers .fa,.select2-result-repository__watchers .fa {
    margin-right: 4px
}

.select2-result-repository__forks .fa.fa-flash::before,.select2-result-repository__stargazers .fa.fa-flash::before,.select2-result-repository__watchers .fa.fa-flash::before {
    content: "\f0e7";
    font-family: "Font Awesome 5 Free"
}

.select2-results__option--highlighted .select2-result-repository__forks,.select2-results__option--highlighted .select2-result-repository__stargazers,.select2-results__option--highlighted .select2-result-repository__watchers {
    color: rgba(255,255,255,.8)
}

.select2-result-repository__meta {
    overflow: hidden
}

.img-flag {
    margin-right: 7px;
    height: 15px;
    width: 18px
}

input[switch] {
    display: none
}

input[switch]+label {
    font-size: 1em;
    line-height: 1;
    width: 56px;
    height: 24px;
    background-color: #ced4da;
    background-image: none;
    border-radius: 2rem;
    padding: .16667rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    font-weight: 500;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

input[switch]+label:before {
    color: #2a3142;
    content: attr(data-off-label);
    display: block;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    position: absolute;
    right: 1px;
    margin: 3px;
    top: -2px;
    text-align: center;
    min-width: 1.66667rem;
    overflow: hidden;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

input[switch]+label:after {
    content: "";
    position: absolute;
    left: 3px;
    background-color: #e9ecef;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2rem;
    height: 20px;
    width: 20px;
    top: 2px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

input[switch]:checked+label {
    background-color: #7a6fbe
}

input[switch]:checked+label {
    background-color: var(--bs-primary)
}

input[switch]:checked+label:before {
    color: #fff;
    content: attr(data-on-label);
    right: auto;
    left: 3px
}

input[switch]:checked+label:after {
    left: 33px;
    background-color: #e9ecef
}

input[switch=bool]+label {
    background-color: #ec536c
}

input[switch=bool]+label:before,input[switch=bool]:checked+label:before,input[switch=default]:checked+label:before {
    color: #fff
}

input[switch=bool]:checked+label {
    background-color: #58db83
}

input[switch=default]:checked+label {
    background-color: #a2a2a2
}

input[switch=primary]:checked+label {
    background-color: #7a6fbe
}

input[switch=success]:checked+label {
    background-color: #58db83
}

input[switch=info]:checked+label {
    background-color: #0dcaf0
}

input[switch=warning]:checked+label {
    background-color: #f5b225
}

input[switch=danger]:checked+label {
    background-color: #ec536c
}

input[switch=dark]:checked+label {
    background-color: #2a3142
}

.square-switch {
    margin-right: 7px
}

.square-switch input[switch]+label,.square-switch input[switch]+label:after {
    border-radius: 4px
}

.table-bordered {
    border: var(--bs-border-width) solid var(--bs-border-color)
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5em;
    margin-right: 0
}

table.dataTable{
    border-collapse: collapse !important;
}

table.dataTable > tbody > tr:hover{
    cursor: pointer;
    background-color: $gray-300;
}

.table > :not(caption) > * > *{
    background-color: transparent !important;
}

.bootstrap-touchspin.input-group>.input-group-prepend>.btn,.bootstrap-touchspin.input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.bootstrap-touchspin.input-group>.input-group-append>.btn,.bootstrap-touchspin.input-group>.input-group-append>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.sp-container {
    background-color: var(--bs-secondary-bg)
}

.sp-container button {
    padding: .25rem .5rem;
    font-size: .71094rem;
    border-radius: .2rem;
    font-weight: 400;
    color: #2a3142
}

.sp-container button.sp-palette-toggle {
    background-color: #f8f9fa
}

.sp-container button.sp-choose {
    background-color: #58db83
}

.sp-palette-container {
    border-color: #dee2e6
}

.sp-input {
    background-color: var(--bs-secondary-bg);
    border-color: var(--bs-border-color)!important;
    color: var(--bs-body-color)
}

.sp-input:focus {
    outline: 0
}

[dir=rtl] .sp-alpha {
    direction: ltr
}

[dir=rtl] .sp-original-input-container .sp-add-on {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-top-left-radius: 4px!important;
    border-bottom-left-radius: 4px!important
}

[dir=rtl] input.spectrum.with-add-on {
    border: 1px solid var(--bs-border-color);
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius)
}

[dir=rtl] .datepicker {
    right: 0!important;
    left: auto
}

[dir=rtl] .bootstrap-timepicker-widget {
    right: 0!important;
    left: auto
}

[dir=rtl] .timepicker-orient-top {
    top: calc(1.5em + .75rem + calc(var(--bs-border-width) * 2))!important
}

[dir=rtl] .timepicker-orient-bottom {
    top: auto!important;
    bottom: calc(1.5em + .75rem + calc(var(--bs-border-width) * 2))!important
}

.datepicker {
    border: 1px solid #dee2e6;
    padding: 8px;
    z-index: 999!important
}

.datepicker table tr th {
    font-weight: 500
}

.datepicker table tr td .active.disabled,.datepicker table tr td span.active.active,.datepicker table tr td span.active:hover.active,.datepicker table tr td.active,.datepicker table tr td.active.disabled:hover,.datepicker table tr td.active:hover,.datepicker table tr td.selected,.datepicker table tr td.selected.disabled,.datepicker table tr td.selected.disabled:hover,.datepicker table tr td.selected:hover,.datepicker table tr td.today,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover,.datepicker table tr td.today:hover {
    background-color: #7a6fbe!important;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff!important
}

.datepicker table tr td span.focused,.datepicker table tr td span:hover,.datepicker table tr td.day.focused,.datepicker table tr td.day:hover {
    background: #f8f9fa
}

.datepicker table tr td span.new,.datepicker table tr td span.old,.datepicker table tr td.new,.datepicker table tr td.old {
    color: #adb5bd;
    opacity: .6
}

.datepicker table tr td.range,.datepicker table tr td.range.disabled,.datepicker table tr td.range.disabled:hover,.datepicker table tr td.range:hover {
    background-color: #dee2e6
}

.table-condensed>tbody>tr>td,.table-condensed>thead>tr>th {
    padding: 7px
}

.bootstrap-datepicker-inline .datepicker-inline {
    width: auto!important;
    display: inline-block
}

.datepicker-container {
    border: 1px solid #dee2e6;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--bs-secondary-bg)
}

.datepicker-container.datepicker-inline {
    width: 212px
}

.datepicker-panel>ul>li {
    background-color: var(--bs-secondary-bg);
    border-radius: 4px
}

.datepicker-panel>ul>li.picked,.datepicker-panel>ul>li.picked:hover {
    background-color: rgba(122,111,190,.25);
    color: #7a6fbe
}

.datepicker-panel>ul>li.highlighted,.datepicker-panel>ul>li.highlighted:hover,.datepicker-panel>ul>li:hover {
    background-color: #7a6fbe;
    color: #fff
}

.datepicker-panel>ul>li.muted,.datepicker-panel>ul>li.muted:hover {
    color: #adb5bd;
    opacity: .6
}

.datepicker-panel>ul[data-view=week]>li {
    font-weight: 500
}

.datepicker-panel>ul[data-view=week]>li,.datepicker-panel>ul[data-view=week]>li:hover {
    background-color: var(--bs-secondary-bg)
}

.datepicker-dropdown.datepicker-orient-top::before {
    border-top: 7px solid #dee2e6!important
}

.datepicker-dropdown.datepicker-orient-top::after {
    border-top: 6px solid #e9ecef
}

.tox-tinymce {
    background-color: var(--bs-card-bg)!important;
    border: 1px solid var(--bs-border-color)!important
}

.tox .tox-editor-container {
    background-color: var(--bs-secondary-bg)!important
}

.tox .tox-statusbar {
    border-top: 1px solid var(--bs-border-color)!important
}

.tox .tox-tbtn--enabled {
    background-color: var(--bs-tertiary-bg)!important
}

.tox .tox-tbtn--enabled.active,.tox .tox-tbtn--enabled:active,.tox .tox-tbtn--enabled:hover {
    background-color: var(--bs-tertiary-bg)!important
}

.tox .tox-edit-area__iframe,.tox .tox-menubar,.tox .tox-statusbar {
    background-color: var(--bs-card-bg)!important;
    background: 0 0!important
}

.tox .tox-mbtn {
    color: var(--bs-body-color)!important
}

.tox .tox-mbtn:hover:not(:disabled):not(.tox-mbtn--active) {
    background-color: var(--bs-tertiary-bg)!important
}

.tox .tox-tbtn:hover {
    background-color: var(--bs-tertiary-bg)!important
}

.tox .tox-toolbar,.tox .tox-toolbar__overflow,.tox .tox-toolbar__primary {
    background: var(--bs-tertiary-bg)!important
}

.tox .tox-toolbar__primary {
    border-top-color: var(--bs-border-color)!important
}

.tox .tox-toolbar__primary {
    border-top: 1px solid var(--bs-border-color)!important;
    border-bottom: 1px solid var(--bs-border-color)!important
}

.tox .tox-tbtn {
    color: var(--bs-body-color)!important
}

.tox .tox-tbtn svg {
    fill: var(--bs-body-color)!important
}

.tox .tox-sidebar-wrap {
    background-color: var(--bs-card-bg)!important
}

.tox .tox-sidebar-wrap .tox-edit-area {
    background-color: var(--bs-card-bg)!important
}

.tox .tox-sidebar-wrap .tox-edit-area .tox-edit-area__iframe {
    background-color: var(--bs-card-bg)!important
}

.tox .tox-sidebar-wrap .tox-sidebar {
    background-color: var(--bs-card-bg)!important
}

.tox .tox-sidebar-wrap .tox-sidebar .tox-sidebar__slider .tox-sidebar__pane-container {
    background-color: var(--bs-card-bg)!important
}

.tox .tox-statusbar a,.tox .tox-statusbar__path-item,.tox .tox-statusbar__wordcount {
    color: var(--bs-tertiary-bg)!important
}

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
    border-right: 1px solid var(--bs-border-color)!important
}

.tox .mce-content-body {
    background-color: var(--bs-secondary-bg)!important
}

.tox-tinymce-aux {
    z-index: 1000!important
}

.editable-input .form-control {
    display: inline-block
}

.editable-buttons {
    margin-left: 7px
}

.editable-buttons .editable-cancel {
    margin-left: 7px
}

.dropzone {
    min-height: 230px;
    border: 2px dashed var(--bs-border-color);
    background: var(--bs-secondary-bg);
    border-radius: 6px
}

.dropzone .dz-message {
    font-size: 24px
}

.table-rep-plugin .btn-toolbar {
    display: block
}

.table-rep-plugin .table-responsive {
    border: none!important
}

.table-rep-plugin .btn-group .btn-default {
    background-color: #6c757d;
    color: #f8f9fa;
    border: 1px solid #6c757d
}

.table-rep-plugin .btn-group .btn-default.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #fff;
    -webkit-box-shadow: 0 0 0 2px rgba(var(--bs-primary),.5);
    box-shadow: 0 0 0 2px rgba(var(--bs-primary),.5)
}

.table-rep-plugin .btn-group.pull-right {
    float: right
}

.table-rep-plugin .btn-group.pull-right .dropdown-menu {
    right: 0;
    -webkit-transform: none!important;
    transform: none!important;
    top: 100%!important
}

.table-rep-plugin tbody th {
    font-size: 14px;
    font-weight: 400
}

.table-rep-plugin .checkbox-row {
    padding-left: 40px;
    color: var(--bs-body-color)!important
}

.table-rep-plugin .checkbox-row:hover {
    background-color: #eff1f3!important
}

.table-rep-plugin .checkbox-row label {
    display: inline-block;
    padding-left: 5px;
    position: relative
}

.table-rep-plugin .checkbox-row label::before {
    -o-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #dee2e6;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: .3s ease-in-out;
    width: 17px;
    outline: 0!important
}

.table-rep-plugin .checkbox-row label::after {
    color: #e9ecef;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: -1px;
    width: 16px
}

.table-rep-plugin .checkbox-row input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: 0!important
}

.table-rep-plugin .checkbox-row input[type=checkbox]:disabled+label {
    opacity: .65
}

.table-rep-plugin .checkbox-row input[type=checkbox]:focus+label::before {
    outline-offset: -2px;
    outline: 0
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900
}

.table-rep-plugin .checkbox-row input[type=checkbox]:disabled+label::before {
    background-color: #f8f9fa;
    cursor: not-allowed
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::before {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary)
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::after {
    color: #fff
}

.table-rep-plugin .fixed-solution .sticky-table-header {
    top: 70px!important;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary)
}

.table-rep-plugin .fixed-solution .sticky-table-header table {
    color: #fff
}

.table-rep-plugin .sticky-table-header,.table-rep-plugin table.focus-on tbody tr.focused td,.table-rep-plugin table.focus-on tbody tr.focused th {
    background: #7a6fbe;
    border-color: #7a6fbe;
    color: #fff
}

.table-rep-plugin .sticky-table-header table,.table-rep-plugin table.focus-on tbody tr.focused td table,.table-rep-plugin table.focus-on tbody tr.focused th table {
    color: #fff
}

@media (min-width: 992px) {
    body[data-layout=horizontal] .fixed-solution .sticky-table-header {
        top:148px!important
    }
}

.table-edits input,.table-edits select {
    height: calc(1.5em + .5rem + calc(var(--bs-border-width) * 2));
    padding: .25rem .5rem;
    border: 1px solid var(--bs-border-color);
    color: var(--bs-body-color);
    background-color: var(--bs-secondary-bg);
    border-radius: var(--bs-border-radius)
}

.table-edits input:focus,.table-edits select:focus {
    outline: 0;
    border-color: #bdb7df
}

.flot-charts-height {
    height: 320px
}

.flotTip {
    padding: 8px 12px;
    background-color: rgba(42,49,66,.9);
    z-index: 100;
    color: #f8f9fa;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02);
    border-radius: 4px
}

.legendLabel {
    color: #adb5bd
}


.jqstooltip {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: auto!important;
    height: auto!important;
    background-color: #2a3142!important;
    -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    padding: 5px 10px!important;
    border-radius: 3px;
    border-color: #1f2431!important
}

.jqsfield {
    color: #e9ecef!important;
    font-size: 12px!important;
    line-height: 18px!important;
    font-family: var(--bs-font-sans-serif)!important;
    font-weight: 500!important
}

.gmaps,.gmaps-panaroma {
    height: 300px!important;
    background: #f8f9fa;
    border-radius: 3px
}

.gmaps-overlay {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    background: #7a6fbe;
    border-radius: 4px;
    padding: 10px 20px
}

.gmaps-overlay_arrow {
    left: 50%;
    margin-left: -16px;
    width: 0;
    height: 0;
    position: absolute
}

.gmaps-overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #7a6fbe
}

.gmaps-overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #7a6fbe
}

.jvectormap-label {
    border: none;
    background: #2a3142;
    color: #f8f9fa;
    font-family: var(--bs-font-sans-serif);
    font-size: .8125rem;
    padding: 5px 8px
}

.home-btn {
    position: absolute;
    top: 15px;
    right: 25px
}

.auth-logo .auth-logo-dark {
    display: block;
    margin: 0 auto
}

.auth-logo .auth-logo-light {
    display: none;
    margin: 0 auto
}

.ex-page-content h1 {
    font-size: 98px;
    font-weight: 500;
    line-height: 150px;
    text-shadow: rgba(61,61,61,.3) 1px 1px,rgba(61,61,61,.2) 2px 2px,rgba(61,61,61,.3) 3px 3px
}

.task-board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.task-board::-webkit-scrollbar {
    -webkit-appearance: none
}

.task-board::-webkit-scrollbar:vertical {
    width: 12px
}

.task-board::-webkit-scrollbar:horizontal {
    height: 10px
}

.task-board::-webkit-scrollbar-thumb {
    background-color: rgba(42,49,66,.2);
    border-radius: 10px;
    border: 2px solid var(--bs-border-color)
}

.task-board::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff
}

.tasks {
    min-height: 300px
}

.task-list {
    min-width: 280px;
    white-space: normal
}

@media (min-width: 576px) {
    .task-list {
        width:388px;
        min-width: 388px
    }
}

.task-list:not(:last-child) {
    margin-right: 20px
}

.task-list .tasklist-content {
    max-height: calc(100vh - 390px)
}

.task-list .task-box {
    border: 1px solid var(--bs-border-color)
}

.task-list .task-box:last-child {
    margin-bottom: 0
}

.gu-transit {
    border: 1px dashed var(--bs-border-color)!important;
    background-color: var(--bs-border-color)!important
}



/*# sourceMappingURL=app.min.css.map */