// COLORS
$primary: #727cf5;
$black: #000 !default;
$gray-700: #495057 !default;
$body-color: $gray-700 !default;
$gray-300: #ced4da;

// BACKGROUND #DAD2D8
// BAR #143642
// PRIMARY #0F8B8D
// SECONDARY #EC9A29
// DANGER #A8201A

// FONT SIZE
$font-size-base: .8rem !default;

// BORDER
$border-radius: .15rem !default;