{% extends 'head_service/base.html.twig' %}

{% block title %}Plannings{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-sm-3">
                    <div class="page-title-box">
                        <h4>Plannings </h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">Plannings</li>
                            </ol>
                    </div>
                </div>
                <div class="col-sm-9">
                {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
                </div>
            </div>
            <!-- end page title -->

            <div class="row mb-4">
                <div class="col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-grid mb-3">
                                <select id="select_agent" class="form-control select2">
                                    <option value="">Sélectionner un agent</option>
                                </select>
                            </div>

                            <div class="d-grid">
                                <select id="select_planning" class="form-control select2">
                                </select>
                            </div>
                            
                            <div id="external-events">
                                <br>
                                <p class="text-muted">This section outlines the agent's weekly work hours and task allocations</p>
                                <a href="{{path('app_head_service_planning_create_step_1', {user: app.user.id})}}"type="button" class="btn btn-success disabled waves-effect waves-light" id="btn_add_planning"><i class="fa-solid fa-calendar-plus"></i> &nbsp;Créer un planning</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col-->

                <div class="col-xl-9">
                    <div class="card mt-4 mt-xl-0 mb-0">
                        <div class="card-body">
                            <div id="calendar" {% if user is defined %} data-user="{{user.id}}"{% endif %}
                            ></div>
                        </div>
                    </div>
                </div> <!-- end col -->

            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', ()=> {

            const calendar = document.getElementById('calendar');
            const select_agent = document.getElementById('select_agent');
            const select_planning = document.getElementById('select_planning');
            const btn_add_planning = document.getElementById('btn_add_planning');

            let user_calendar = calendar.dataset.user;

            window.initFullCalendar(user_calendar);
            
            $(select_planning).select2();
            // $(select_agent).select2({
            //     ajax: {
            //         url: "{{path('app_head_service_time_slot_list_agents_ajax')}}",
            //         dataType: 'json'
            //         // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
            //     },
                
            // });

            fetch("{{path('app_head_service_time_slot_list_agents_ajax')}}")
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erreur lors du déplacement de l\'événement');
                }
                return response.json();
            })
            .then(data => {
                data.results.forEach(element => {
                    var option = (user_calendar == element.id) ? new Option(element.text, element.id, true, true) :new Option(element.text, element.id, false, false);
                    console.log(element);
                    select_agent.append(option);
                    $(select_agent).select2();
                });
            })
            .catch(error => {
                console.error('Erreur :', error);
            });

            $(select_agent).on('select2:select', (e) => {
                if(e.params.data.id != ""){

                    var url = '{{ path("app_head_service_time_slot_list_plannings_ajax", {'user': '__00__'}) }}'; 
                    url = url.replace('__00__', e.params.data.id);

                    btn_add_planning.classList.remove('disabled');
                    var link_add_planning = btn_add_planning.href.replace(/\/(\d+)$/, "/" + e.params.data.id) ;
                    btn_add_planning.setAttribute('href', link_add_planning)
                    $(select_planning).select2({
                        ajax: {
                            url: url,
                            dataType: 'json'
                            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
                        }
                    });
    
                    window.initFullCalendar(e.params.data.id);
                }else{
                    window.initFullCalendar();

                }
            })
            


            $(select_planning).on('select2:select', (e) => {
                if (e.params.data.url != "") {
                    
                    window.location.href = e.params.data.url;
                }else{

                }
            })
        });
    </script>

{% endblock %}
