{% extends 'head_service/base.html.twig' %}

{% block title %}Create planning - step 1{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            {{form_start(form)}}
            <div class="row">
                <div class="col">
                    <div class="page-title-box">
                        <div class="row justify-content-between mb-3 pe-2">
                            <h4 class="col-4">{% if(form.vars.value.id) == null %}{% trans %}Create planning{% endtrans %} {% else %}
                            {% trans %}Edit planning{% endtrans %}{% endif %}</h4>
                            {{form_widget(form.submit)}}
                        </div>
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{{path('app_head_service_time_slot')}}">{% trans %}Planning{% endtrans %}</a></li>
                            <li class="breadcrumb-item active"> {% trans %}Step 1{% endtrans %} </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3 row"> 
                                {{form_label(form.name)}}
                                <div class="col-md-10">{{form_widget(form.name)}}</div>  
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.startedAt)}}
                                <div class="col-md-10">{{form_widget(form.startedAt)}}</div>
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.endedAt)}}
                                <div class="col-md-10">{{form_widget(form.endedAt)}}</div>
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.type)}}
                                <div class="col-md-10">{{form_widget(form.type)}}</div>
                            </div>
                            <div class="mb-3 row">
                                {{form_label(form.description)}}
                                <div class="col-md-10">{{form_widget(form.description)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}
