{% extends 'head_service/base.html.twig' %}

{% block title %}Create planning - step 2
{% endblock %}

{% block body %}
	<div class="page-content">
		<div
			class="container-fluid">

			<!-- start page title -->
			<div class="row">
				<div class="col">
					<div class="page-title-box">
						<div class="row justify-content-between mb-3 pe-2">
							<h4 class="col-6">
								<b>{{planning.agent.firstName}}
									{{planning.agent.lastName}}</b>
								-
								{{ planning.name }}</h4>
							<a href="{{path('app_head_service_planning_finalize', {planning:planning.id, start:planning.startedAt|date('Y-m-d'), end:planning.endedAt|date('Y-m-d')} ) }}" class="btn btn-success waves-effect waves-light col-4 w-auto">{% trans %}
								Finalize
								{% endtrans %}</a>
						</div>
						<ol class="breadcrumb m-0">
							<li class="breadcrumb-item">
								<a href="{{path('app_head_service_time_slot')}}">{% trans %}Planning{% endtrans %}</a>
							</li>
							<li class="breadcrumb-item">
								<a href="{{path('app_head_service_planning_create_step_1', {user:planning.agent.id})}}">{% trans %}Step 1{% endtrans %}</a>
							</li>
							<li class="breadcrumb-item active">
								{% trans %}Step 2{% endtrans %}
							</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- end page title -->
			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endfor %}
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div data-planning-id="{{ planning.id }}" id="calendar-weekly"></div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="modalEventFC" tabindex="-1" aria-labelledby="modalEventFCLabel" aria-hidden="true">
					{# Formualaire généré via ajax fullcalendar.js #}
				</div>
                <div class="modal fade" id="modalEditFC" tabindex="-1" aria-labelledby="modalEditFCLabel" aria-hidden="true">
                    {# Formualaire généré via ajax fullcalendar.js #}
                </div>
			</div>
		</div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

        window.initCalendarWeekly();
        });
    </script>
{% endblock %}
