{% extends 'head_service/base.html.twig' %}

{% block title %}Edit planning{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col">
                    <div class="page-title-box">
                        <div class="row justify-content-between mb-3 pe-2">
                            <h4 class="col-6"><b>{{planning.agent.firstName}} {{planning.agent.lastName}}</b> - {{ planning.name }}</h4>
                            <a href="#" id="btn_finalize" class="btn btn-success waves-effect waves-light col-4 w-auto">{% trans %} Finalize {% endtrans %}</a>
                        </div>
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{{path('app_head_service_time_slot')}}">{% trans %}Planning{% endtrans %}</a></li>
                            <li class="breadcrumb-item active"> {% trans %}Edit{% endtrans %} </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row mb-3">
                <span class="col-3 label-input-date">Appliquer les modifications du </span> <input type="date" class="flatpickr form-control" style="width:25% !important;" name="startEdit" id="startEdit" value="{{planning.startedAt|date('Y-m-d')}}"> <span class="col-1 label-input-date">au</span> <input class="flatpickr form-control" style="width:25% !important;" type="date" name="endEdit" id="endEdit" value="{{planning.endedAt|date('Y-m-d')}}">
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div data-planning-id="{{ planning.id }}" id="calendar-weekly"></div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalEditFC" tabindex="-1" aria-labelledby="modalEditFCLabel" aria-hidden="true">
                    {# Généré par ajax #}
                </div>

                <div class="modal fade" id="modalEventFC" tabindex="-1" aria-labelledby="modalEventFCLabel" aria-hidden="true">
                    
                </div>
            </div>
        </div>
    </div>
    <script>
    
        function updateURL() {
            let url = "{{ path('app_head_service_planning_finalize', {planning:planning.id, start:planning.startedAt|date('Y-m-d'), end:planning.endedAt|date('Y-m-d')} ) }}";
            url = url.replace(/\/\d{4}-\d{2}-\d{2}\/\d{4}-\d{2}-\d{2}$/, '');
            url += '/' + startEdit.value + '/' + endEdit.value;
            btn_finalize.href = url;
        }
        document.addEventListener('DOMContentLoaded', ()=> {
            window.initCalendarWeekly();
            
            let btn_finalize = document.getElementById('btn_finalize');
            let startEdit = document.getElementById('startEdit');
            let endEdit = document.getElementById('endEdit');

            // Mettre à jour l'URL avec les valeurs actuelles des champs de date

            // Écouter les changements dans les champs de date
            startEdit.addEventListener('change', updateURL);
            endEdit.addEventListener('change', updateURL);

            // Initialiser l'URL au chargement de la page
            updateURL();
        });
    </script>
{% endblock %}
