<div class="vertical-menu mm-active">

                <div data-simplebar="init" class="h-100 mm-show simplebar-scrollable-y"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu" class="mm-active">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled mm-show" id="side-menu">
                            <li class="menu-title">Main</li>

                            <li>
                                <a href="#" class="waves-effect {% if 'app_head_service_dashboard' == app.request.get('_route') %}active{% endif %}">
                                    <i class="fa-solid fa-table-columns"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>

                            <li>
                                <a href="{{path('app_head_service_user')}}" class=" waves-effect {% if 'app_head_service_user' == app.request.get('_route') or 'app_head_service_user_edit' == app.request.get('_route') %}active{% endif %}">
                                    <i class="fa-solid fa-users-gear"></i>
                                    <span>Agents</span>
                                </a>
                            </li>

                            <li>
                                <a href="{{path('app_head_service_establishment')}}" class=" waves-effect {% if 'app_head_service_establishment' == app.request.get('_route') %}active{% endif %}">
                                    <i class="fa-solid fa-building-user"></i>
                                    <span>Etablissements</span>
                                </a>
                            </li>

                            <li>
                                <a href="{{path('app_head_service_time_slot')}}" class=" waves-effect {% if 'app_head_service_time_slot' == app.request.get('_route') %}active{% endif %}">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span>Plannings</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div></div></div></div><div class="simplebar-placeholder" style="width: 240px; height: 870px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 854px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div></div>
            </div>