{
    "draw": {{ draw }}, 
    "recordsTotal": "{{ filtered_count }}",
    "recordsFiltered": "{{ total_count }}",
    "data": [
        {% for item in pagination %}
            {   
                "id" : "{{item.id}}",
                "name" : "{{item.name}}",
                "address" : "{{item.fullAddress}}",
                "createdAt" : "{{item.createdAt|date('d/m/Y')}}",
                "redirectUrl": "{{path('app_head_service_establishment_edit', {establishment:item.id}) }}"
            }
            {% if pagination|length != loop.index %},{% endif %}
        {% endfor %}
    ]
}